.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
}

.navbar div {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.switch-mode label{
  display: inline-block;
  width: 40px;
  height: 20px;  
  position: relative;
  margin-left: 10px;
}