body {
  font-family: sans-serif;
}
.unlike,
.defaultBtn {
  cursor: pointer;
  border: 3px solid #888;
  border-radius: 20px;
  width: 80px;
  padding: 5px 12px;
  font-weight: 700;
  color: #888;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.unlike:hover {
  border: 3px solid #f00;
  color: #f00;
}


