#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 30%;
  background-color: #58d68e;
}

.rows{
  display: flex;
  justify-content: space-between;
}

.checkboxes{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container{
  display: flex;
  flex-direction: column;
}

label{
  font-weight: 700;
  font-size: medium;
}

input[type="checkbox"]{
  width:20px;
}
